
body {
    margin: 0;
    background-color: #303030;
    color: rgb(214,214,214);
    font-family: -apple-system,BlinkMacSystemFont,'Open Sans',HelveticaNeue,sans-serif;
    font-weight: 500;
    min-height: 100vh;
    cursor: default;
    width: 100%;
    height: 100%;
    font-size: small;
    overflow-x: hidden;
    /* Запрещение выделения */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;

     /* Запрещение выделения */
}

.flex
{
    display: flex;
}
.jcc
{
    justify-content: center;
}
.aic
{
    align-items: center;
}

textarea:focus-visible {
    outline: rgb(34,142,93) solid 2px;
}

header {
    background: rgb(39, 39, 39);
    width:100%;
    padding: 14px;
    height: 45px;
    text-align: center;
}
.header__container
{
    position: relative;
    margin: auto;
    width:100%;
    max-width: 400px;
    height: 100%;
}
.container
{
    flex-direction: column;
    position: relative;
    margin: auto;
    min-width: 400px;
    height: 85vh;
}
@media(max-width:430px){
    .header__container
    {
        max-width: 100%;
    }
    #name
    {
        font-size: 5px;
    }
    .container{
        min-width: 200px;
        height: 70vh;
    }
    #styles-area
    {
        max-width:300px;
    }
}



a {
    text-decoration: none;
    color: rgb(34,142,93);
    font-weight: bold;
}

a:hover {
    color: rgb(34,142,93);
}

#name {
    font-size: 24px;
    font-weight: 600;
    color: rgb(34,142,93);
}

.styles {
    display: block;
}

#styles-area {
    font-weight: bold;
    padding: 20px;
    font-size: 13px;
    width: 360px;
    height: 240px;
    color: rgb(172, 172, 172);;
    background: rgb(39, 39, 39);
    border: 0 none black;
    resize: none;

}

.area {
    padding-top: 10px;
}

.nicknames {
    font-size: 13px;
    font-weight: bold;
    padding-top: 50px;
}

#medium {
    font-size: 18px;
    margin-left: 50px;
}

#double {
    font-size: 26px;
}

#original {
    margin-left: 50px;
}

.btn {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    border-style: none;
    border-radius: 3px;
    color: rgb(214, 214, 214);
    background-color: rgb(34,142,93);
    transition: background 0.8s;
    overflow: hidden;
    height: 30px;
    margin-top: 20px;
}

.btn:focus {
    box-shadow: none;
}

.btn:hover {
    color: rgb(214, 214, 214);
    background: rgb(0, 186, 120) radial-gradient(circle, transparent 1%, rgb(0, 186, 120) 1%) center/15000%;
}

.btn:active {
    transition: background 0s;
}

#prev-btn {
    background-color: #303030;
    
}

#prev-btn:hover {
    color: #f5f5f5;
    background: #303030;
}

#settings-btn {
    color: #919191;
    text-decoration-line: underline;
    transition: .3s linear;
    margin: 0;
    margin-top: 15px;
}

#settings-btn:hover {
    color: #afafaf;
}

.settings {
    margin-top: 15px;
    background: rgb(39, 39, 39);
    border-radius: 10px;
    width: 360px;
    height: 50px;
    align-items: center;
    transition: all .3s ease-out;
}

.settings span {
    text-align: center;
    width: 120px;
    font-size: 13px;
}

.btn_active {
    color:rgb(34,142,93);
}

.footer {
    position: absolute;
    width:100%;
    padding: 10px;
    bottom: 20px;
    top: auto;
    color: #adadad;
}

.hide {
    opacity: 0;
}